<div id="section-1">
	<div class="container">
	<div class="row" >
		<div class="col-md-2">
			<img id="profile-pic" class="img-circle" src="{{STATIC_URL}}img/cutmypic2.png">
		</div>
		<div class="col-md-9 col-md-offset-1">
			<div id="welcome"> 
				<div>
					Hi! 
					I'm 
					<strong>Jorge Perez</strong>
				</div>
				<span class="facit-web" style="color:red;">
					<b>
						{Programmer}
					</b>
					<span class="visible-xs">
					</span>
				</span>  
				and
				<span class="visible-xs">
					</span> 
				<spa class="facit-web" style="color:green;">
					<b>&lt;Web Developer&gt;</b>
				</span> 
			</div>
		</div>
	</div>
	<a data-scroll href="#section-2">
		<div class="tag" >
			<div class="tag-blue">
				<span>
					<i class="fa fa-angle-double-down socia-network"></i>
				</span>
			</div>
			<div style="clear:both;" class="clear"></div>
		</div>
	</a>
	</div>
</div>