<div id="section-3" >
	<div class="container">
		<div class="row" id="project-row">
			<div class="">
				<center>
					<h1 id="current-projects">
						<br>
						CURRENT PROJECTS
						<span class="visible-xs"></span>
						<span id="and-sign">&#38;</span>
						<span class="visible-xs"></span>
						PREVIOUS WORK 
						<br>
						<span class="visible-xs"></span>

						<span style="color:#888888; font-size:.8em;">(Section Working in Progress)</span>

					</h1>
				</center>
			</div>

			<!--<div class="col-xs-1 tag">
				<h5>
					Press me
				</h5>
			</div>
			<div style="clear:both;" class="clear"></div>
										<hr>
									-->
			<div>
				{% for project in projects  %}
					<a  class="col-md-3 project" href="{{project.url}}" >
						<div class="img-container">
							<div style="background-image: url('{{project.large.url}}');"></div>
						</div>
						<div class="info-container">
							<h1 class="project-title">{{project.title}}</h1>
							<p>{{project.description}}</p>
						</div>
					</a>
				{% endfor %}
			</div>
		</div>
	</div>
</div>