<div id="section-2" >
	<div class="container">
	<div class="row" >
		<div class="inner">
			<div class="max-width">	
				<h1 id="about-me">A little about me</h1>
				<div id="about-me-content" class="col-sm-6 col-sm-offset-3">
					<h4>I'm a front-end & back-end developer with a bachelor degree in computer sciences and currently living in the island of
						<a href="https://en.wikipedia.org/wiki/Puerto_rico" target="_blank" title="A link to a Wikipedia article on Bath" style="color:#00256F;">Puerto Rico
						</a>.
						The latest two years I had been working as web developer in projects like 
						<!--style="color:#917C00"-->
						<a  style="color:#DD1919" href="https://clasificadospr.com/">ClasificadosPR</a>,
						<!-- style="color:#96ADCA;"-->
							<a  style="color:#589299;" href="https://listamax.com/">ListaMax
							</a> and <a style="color:000;" href="http://www.geo-tire.com/">GeoTire</a>.
						During the day I can be found at 
						<a target="_blank" href="https://www.axonpr.com/" title="External link to blubolt">AxonPR
						</a> 
						- where I work full time as a developer.
						<!--  
						<a href="#" target="_blank" title="Isabella Oliver">Isabella Oliver</a> and 
						<a title="Science Museum" target="_blank" href="http://sciencemuseumshop.co.uk">The Science Museum</a>, to name just a few.</h4> -->
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>

</div>