<div id="section-2" >
	<div class="container">

	
	<div class="row" >
		<div class="inner">
			<div class="max-width">	
				<h1 id="about-me">A little about me</h1>
				<div id="about-me-content" class="col-sm-6 col-sm-offset-3">
					<h4 class="left">I'm a front-end & back-end developer with a bachelor degree in computer sciences. I am currently living in the island of
						<a href="http://en.wikipedia.org/wiki/Puerto_rico" target="_blank" title="A link to a Wikipedia article on Bath">Puerto Rico
						</a>.
					During the day I can be found at 
						<a target="_blank" href="http://www.axonpr.com/" title="External link to blubolt">AxonPR
						</a> 
						- where I work full time as a developer and during,
						<!--  
						<a href="#" target="_blank" title="Isabella Oliver">Isabella Oliver</a> and 
						<a title="Science Museum" target="_blank" href="http://sciencemuseumshop.co.uk">The Science Museum</a>, to name just a few.</h4> -->
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>

</div>