<div id="section-1">
	<div class="container">
	<div class="row" >
		<!-- <div class="col-md-2">
			<img id="profile-pic" class="img-circle" src="{{STATIC_URL}}img/cutmypic2.png">
		</div> -->

		<center class="col-md-12">
			<div id="welcome">
				<div>
					<h3>My name is</h3>
					<strong class="name">Jorge Perez</strong>
				</div>
				<h3>and I build cool
					<br class="visible-xs"/>

					<span class="facit-web" style="color:red;">
						<b>
							{web}
						</b>
					</span>
					and
					<span class="facit-web" style="color:green;">
						<b>&lt;mobile&gt;</b>
					</span>
					<br class="visible-xs"/>

					stuff
				</h3>
				<div class="margin-top-sm">
          <a class="black" href="https://github.com/jorgeluis11" target="_blank">
            <i class="fa fa-github "></i></a>
					<a class="black" href="https://www.linkedin.com/in/kathleenwomersley" target="_blank">
						<i class="fa fa-linkedin-square"></i>
					</a>
          <a class="black" href="https://twitter.com/Jorge__Luis11" target="_blank">
            <i class="fa fa-twitter"></i>
          </a>
          <!-- <a href="https://medium.com/@kawomersley">
            <i class="fa fa-medium"></i>
          </a> -->

        </div>
				<h2>Let's work together!</h2>

			</div>
		</center>
	</div>
	<a data-scroll href="#section-2">
		<div class="tag" >
			<div class="tag-blue">
				<span>
					<i class="fa fa-angle-double-down socia-network"></i>
				</span>
			</div>
			<div style="clear:both;" class="clear"></div>
		</div>
	</a>
	</div>
</div>
