<div id="section-3">
	<div class="container">
		<div class="row">
			
			<div >
				<h1 style="margin-bottom: 0; margin:0 auto;">
					Say hello
				</h1>
			</div>
			<h2>
				
				<br>
				Please feel free to contact me via <a href= "Jorge: perez.jorge718@gmail.com?subject=Contact&body=This email
				is from your website" >
				email</a>, or find me on the following social networks:
			 </h2>

			 <ul class="social">
				<li class="facebook">
					<a href="https://facebook.com/societycafebath">
						<span class="fa fa-facebook socia-network"></span>
						<p>
							<span>
								facebook.com/jorge.luis111
							</span>
							
						</p>
					</a>
				</li>
				<li class="twitter">
					<a href="https://twitter.com/Jorge__Luis11">
						<span class="fa fa-twitter socia-network"></span>
						<p>
							<span>
								@Jorge__Luis11
							</span>
						</p>
					</a>
				</li>
				<li class="linkedin">
					<a href="http://www.linkedin.com/profile/view?id=231459143&trk=nav_responsive_tab_profile_pic">
						<span class="fa fa-linkedin socia-network"></span>
						<p>
							<span>
								Jorge Luis
							</span>
							
						</p>
					</a>
				</li>
				<li class="github">
					<a href="https://github.com/jorgeluis11">
						<span class="fa fa-github socia-network"></span>
						<p>
							<span>
								@jorgeluis11
							</span>
							
						</p>
					</a>
				</li>					
			</ul>
					 	
			 </div>
		</div>
	</div>
</div>