<div id="section-2" >
	<div class="container">
		<div class="row" >
			<div class="inner">
				<div class="max-width">
					<h1 id="about-me">A little about me</h1>
					<div class="col-sm-3 custom-carousel">
						<div id="myCarousel" class="carousel slide" data-ride="carousel">
					  <!-- Wrapper for slides -->
					  <div class="carousel-inner" role="listbox">
					    <div class="item active">
								<img id="profile-pic" class="img-circle img-responsive" src="{{STATIC_URL}}img/1.jpg"  alt="me">

							</div>

					    <div class="item">
								<img id="profile-pic" class="img-circle img-responsive" src="{{STATIC_URL}}img/2.jpg">
					    </div>
							<div class="item">
								<img id="profile-pic" class="img-circle img-responsive" src="{{STATIC_URL}}img/10.jpg">
							</div>
					    <div class="item">
								<img id="profile-pic" class="img-circle img-responsive" src="{{STATIC_URL}}img/8.jpg">
					    </div>


					    <div class="item">
								<img id="profile-pic" class="img-circle img-responsive" src="{{STATIC_URL}}img/3.jpg">
					    </div>

					    <div class="item">
								<img id="profile-pic" class="img-circle img-responsive" src="{{STATIC_URL}}img/4.jpg">
					    </div>
					    <div class="item">
								<img id="profile-pic" class="img-circle img-responsive" src="{{STATIC_URL}}img/6.jpg">
					    </div>
							<div class="item">
								<img id="profile-pic" class="img-circle img-responsive" src="{{STATIC_URL}}img/7.jpg">
							</div>
							<!-- <div class="item">
								<img id="profile-pic" class="img-circle img-responsive" src="{{STATIC_URL}}img/9.jpg">
							</div> -->
					    <!-- <div class="item">
								<img id="profile-pic" class="img-circle img-responsive" src="{{STATIC_URL}}img/5.jpg">
								<div class="custom-caption hidden-xs">
									<p>The DevBrothers, yes this is my twin brother and he is also a developer.</p>
								</div>
							</div> -->
					  </div>

						</div>
					</div>
					<div id="about-me-content" class="col-sm-8">
						<h4>

							<br class="hidden-sm hidden-xs"/>
							<!-- I'm a senior full stack developer with a bachelor degree in computer sciences, living in the island of
							<a href="https://en.wikipedia.org/wiki/Puerto_rico" target="_blank" title="A link to a Wikipedia article on Bath" class="link-blue">Puerto Rico</a>. -->
							 I’m a Full Stack developer for web and mobile apps.
							 Truly passionate in every aspect related to new technologies, design, programming, and travel.  Always creative, exploring, and broadening my horizons.
							 I have been working as Web/Mobile developer in projects for
							<!--style="color:#917C00"-->
							<a class="link-blue"   href="https://clasificadospr.com/"> <b>ClasificadosPR</b></a>,
							<!-- style="color:#96ADCA;"-->
								<a class="link-blue"  href="https://listamax.com/"><b>ListaMax</b></a>,
								<a class="link-blue"  href="http://www.geo-tire.com/"><b>AxonPR (Now CSC)</b></a>,
								<a class="link-blue"  href="http://www.geo-tire.com/"><b>NBC Universal</b></a></a>,
								<a class="link-blue"  href="http://www.geo-tire.com/"><b>Technology Partners</b></a></a>
								and some Freelance projects.
							<!--
							<a href="#" target="_blank" title="Isabella Oliver">Isabella Oliver</a> and
							<a title="Science Museum" target="_blank" href="http://sciencemuseumshop.co.uk">The Science Museum</a>, to name just a few.</h4> -->
						</h4>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
</div>
