<div id="section-3" >
	<div class="container">
		<div class="row" id="project-row">
			<div class="">
				<center>
					<h1 id="current-projects">
						<br>
						My personal projects
						<!-- <span class="visible-xs"></span> -->
						<!-- <span id="and-sign">&#38;</span> -->
						<!-- <span class="visible-xs"></span> -->
						<!-- PREVIOUS WORK
						<br> -->
						<!-- <span class="visible-xs"></span> -->
						<!-- <br> -->
						<!-- <br> -->
						<!-- <span style="color:#888888; font-size:.8em;">(Section Working in Progress)</span> -->

					</h1>
				</center>
			</div>

			<!--<div class="col-xs-1 tag">
				<h5>
					Press me
				</h5>
			</div>
			<div style="clear:both;" class="clear"></div>
										<hr>
									-->
			<center>
				{% for project in projects  %}
					<a  class="col-sm-4 project" href="{{project.url}}" target="_blank" >
						<div class="img-container">
							<div style="background-image: url('{{project.large.url}}');" alt="{{project.title}}"></div>
						</div>
						<div class="info-container  visible-lg">
							<h1 class="project-title">{{project.title}}</h1>
							<p>{{project.description}}</p>
						</div>
					</a>
				{% endfor %}
			</center>
		</div>
	</div>
</div>
