{% load staticfiles %}
<html>
<head>
	 <meta name="google-site-verification" content="sMegJVMdenjZ6oKUukSvcmZIiLwcWhiD4PYaVp_NBVI" />
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	 <meta name="description" content="I’m a Full Stack developer for web and mobile apps.">
	 <meta name="Keywords" content="mobile,senior,seniordeveloperfreelance,profile,mba,computerscience,bs,student,graduated,web,website,programmer,app,iphone,android,ipad,upr,puerto,rico,pr,puertorico,profesearch,Profe,Search,worst,best,professor,student,inter,interamericana,university,uprb,uprm,uprc,upi,upru,uprh" />
	 <meta property="og:image" content="{{STATIC_URL}}img/perezjorge718.png"/>
	 <meta property="og:image" content="{{STATIC_URL}}img/perezjorge718.png"/>
	 <meta property="og:image" content="{{STATIC_URL}}img/perezjorge718.png"/>
	 <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
	<link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
	<title>{% block title %}{% endblock title %}</title>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<link type="text/css" href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"></link>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
	{% block otherjs %}{% endblock otherjs %}

</head>
<body>

{% include "header.html" %}
{% block body %}{% endblock body %}
{% include "footer.html" %}

</body>
</html>
