<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div id="centralize">
        <ul class="nav navbar-nav list">
          <li><a data-scroll href="#section-1">Hello</a></li>
          <li><a data-scroll href="#section-2">About</a></li>
          <li><a data-scroll href="#section-3">Projects</a></li>
          <li><a data-scroll href="#section-4">Contact</a></li>
        </ul>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>