{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block otherjs %}
<script src="{% static 'js/sharrre.min.js' %}"></script>
<SCRIPT TYPE="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></SCRIPT>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.1/modernizr.min.js"></script>
{% endblock otherjs %}

{% block title %}
Titulo de la pagina
{% endblock title %}

{% block body %}
	{% include "sections/section1.html" %}
	{% include "sections/section2.html" %}
	{% include "sections/section4.html" %}
{% endblock body %}